<!DOCTYPE html>
<html>
<head>
  <title>
    Random Occupation
  </title>
  <center>
  <br>SoftDev
  <br>Mr. Mylky
  <br>Coby Sontag, Ethan Chen
  <br>Period 2
  <br></br>
</head>
<body>
    <b>Randomly selected job: {{randjob}}</b>
    <br></br>
    <table>
     <tr>
       <td>Job Class</td>
       <td>Percentage</td>
     </tr>
     {% for key in collection %}
       <tr>
         <td>{{ key }}</td>
         <td>{{ collection[key] }}</td>
       </tr>
     {% endfor %}
   </table>
</body>
</center>
</html>
