<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <title>Spongebob Squarepants x Mongo-Flask</title>
  </head>
  <body>
    <h2>SPONGEBOB SQUAREPANTS</h2>
    <p> This site lets you interact with the Spongbob Squarepants JSON. You can find the episodes based on the season, date aired, or a keyword!
    </p>
    <br>
    <p><b> Find episode given season and number: </b>
    <form action="/findepisode" method="GET">
        Season: <input type="number" name="season"> <br>
        Episode #: <input type="number" name="episode"> <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <p><b> Find all episodes from a given season: </b>
    <form action="/findseason" method="GET">
        Season: <input type="number" name="season"> <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <p><b> Find episodes aired from a given date: </b>
    <form action="/findonAir" method="GET">
        Year from 1999 - 2020: <input type="number" name="year"> <br>
        Month (two digits): <input type="number" name="month"> <br>
        Day (two digits): <input type="number" name="day"> <br>
        <input type="submit" value="Submit">
    </form>
    <p><b> Find all episodes with a given keyword: </b>
    <form action="/findword" method="GET">
        Keyword: <input type="value" name="keyword"> <br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
